# Coveralls 
/luacov.*

# Roblox files
/*.rbxlx
/*.rbxmx
/*.rbxl
/*.rbxm
/*.lock

# Selene
roblox.yml

# Analysis artifacts
/sourcemap.json

# OS / Editor files
.vscode

# Wally
/Packages
/DevPackages